# Data Science Tools and Ecosystem

## Author
DINH THAI HOANG

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
List popular languages for Data Science
- R
- Python
- Javascript

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Javascript

Some of the commonly used libraries used by Data Scientists include:
1. ggplot
2. pandas
3. seaborn

|Data Science Tools|
|------------------|
|Jupyter Notebook| 
|RStudio|    
|VS Code

### Below are a few examples of evaluating arithmetic expressions in Python.

In [8]:
(3*4)+5
# This a simple arithmetic expression to mutiply then add integers

17

In [9]:
200/60
# This will convert 200 minutes to hours by diving by 60

3.3333333333333335